node_modules
.next
.turbo
.vercel
dist
build
coverage

.git
.gitignore
.husky

.env
.env.local
.env.development
.env.production
.env.test
.env.*

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

.DS_Store
.vscode
.idea
